.bar-heading {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  top: 124px;
  /* padding: 1px; */
  padding-left: 5px;
  padding-right: 4px;
  border-radius: 10px;
  font-size: 14px;
}

.food-heading {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  top: -13px;
  /* padding: 1px; */
  padding-left: 5px;
  padding-right: 4px;
  border-radius: 10px;
  font-size: 14px;
}

.open-orders-container {
  height: 30%;
  border-top: 5px solid black;
  position: relative;
  width: 100%;
}

.food-orders-wrapper {
  height: 50%;
  width: 100%;
}

.food-orders {
  height: 113%;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  /* overflow-x: scroll; */
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.food-orders::-webkit-scrollbar {
  display: none;
}

.food-orders > :first-child {
  margin-left: auto !important;
  /* use !important to prevent breakage from child margin settings */
}

.drinks-orders {
  background-color: antiquewhite;
  height: 50%;
  border-radius: 0 0 14px 14px;
  border-top: 5px solid black;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  overflow-x: scroll;
  overflow-y: hidden;

  height: 113%;
}

.drinks-orders-wrapper {
  height: 50%;
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 14px 14px;
}

.drinks-orders > :first-child {
  margin-left: auto !important;
  /* use !important to prevent breakage from child margin settings */
}

.open-orders {
  font-size: 0.6em;
  border: 5px solid black;
  display: inline-block;
  padding: 3px;
  margin: 5px;
  background-color: aqua;
  cursor: pointer;
  min-width: 80px;
  height: 93%;
  border-radius: 10px;
  z-index: 99;
}

.open-orders-hover {
  position: absolute;
  top: 70px;
  font-size: 0.6em;
  border: 5px solid black;
  display: inline-block;
  padding: 3px;
  margin: 5px;
  background-color: aqua;
  cursor: pointer;
  min-width: 80px;
  min-height: 100px;
  border-radius: 10px;
  z-index: 99;
}

.stopwatch {
  border: 1px solid black;
}

.timer {
  border: 1px solid black;
}

.time-order-placed {
  width: 30px;
  display: inline-block;
}

.table-number {
  display: inline-block;
  border: 1px solid black;
  padding: 0.3em;
  margin-left: 20px;
}

.floor-plan {
  width: 100%;
  height: 70%;
  border-radius: 14px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bar {
  grid-row-start: span 4;
  position: relative;
  left: -10px;
  top: -40px;
}

.table-1,
.table-2,
.table-3,
.table-4,
.table-5,
.table-6,
.table-7,
.table-8,
.table-9,
.table-10,
.table-11,
.table-12,
.table-13,
.table-14,
.table-15,
.table-16,
.table-17,
.table-18,
.bar {
  cursor: pointer;
}

.table-5,
.table-8,
.table-11 {
  transform: rotate(90deg);
}

/* Positioning of table numbers */

.table-num {
  position: absolute;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  z-index: 1;
}

.num-1,
.num-4,
.num-7,
.num-9,
.num-15,
.num-16,
.num-17,
.num-18 {
  top: 28px;
  left: -8px;
}

.num-12,
.num-3,
.num-6,
.num-10,
.num-13,
.num-14 {
  top: 27px;
  left: -12px;
}

.num-11,
.num-5,
.num-8 {
  top: 72px;
  left: 30px;
  transform: rotate(270deg);
}

.num-2 {
  top: 28px;
  left: -15px;
}

.num-bar {
  top: 50px;
  left: 35px;
}

.items {
  font-size: 0.8em;
}
