.mobile-screen {
  border-radius: 20px;
  min-width: 320px;
  max-width: 480px;
  position: relative;
  border: 5px solid black;
}

@media screen and (max-width: 480px) {
  .mobile-screen {
    width: 100vw !important;
    height: 100vh !important;
    border: 0;
    border-radius: 0;
  }
}

.grid-wrapper-bar,
.grid-wrapper-food {
  background: linear-gradient(to top, var(--one), var(--four));
  border-top: 5px solid black;
  border-radius: 0 0 14px 14px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  height: 340px;
  padding: 5px;
  position: relative;

  max-width: 390px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: black;
  font-size: 0.85em;
  border-radius: 20px;
  padding: 0.3em;
  border: 2px solid black;
  box-shadow: 2px 2px 7px black;
  /* background: linear-gradient(to top, var(--three), var(--one)); */
  background-color: var(--three);
}

.button:hover {
  background-color: var(--two);
  cursor: pointer;
  border: 2px solid white;
}

.button:active {
  /* background: linear-gradient(to top, rgb(14, 61, 64), rgb(74, 123, 125)); */
  background-color: var(--one);
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  text-align: center;
}

.grid-wrapper-food .button {
  /* background: linear-gradient(to top, rgb(18, 77, 81), rgb(95, 114, 160)); */
  background-color: var(--one);
}

.grid-wrapper-food .button:hover {
  background-color: var(--two);
}

.grid-wrapper-food .button:active {
  background-color: var(--three);
}

.button-food {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: var(--one);
  color: black;
  font-size: 0.85em;
  border-radius: 20px;
  padding: 0.3em;
  border: 2px solid black;
  box-shadow: 2px 2px 7px black;
  /* background: linear-gradient(to top, rgb(18, 77, 81), var(--one)); */
  background-color: var(--three);
}
.button-drink {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: black;
  font-size: 0.85em;
  border-radius: 20px;
  padding: 0.3em;
  border: 2px solid black;
  box-shadow: 2px 2px 7px black;
  /* background: linear-gradient(to top, rgb(18, 77, 81), var(--one)); */

  background-color: var(--one);
}

.login-screen {
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.server-name {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.random-name {
  width: 50%;
  display: inline-block;
}

.intro {
  margin: 20px;
}

.input {
  margin: 20px;
}

/* CSS */
.random-button {
  background-color: black;
  border-radius: 12px;
  color: yellow;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 50%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.random-button:not(:disabled):hover,
.random-button:not(:disabled):focus {
  outline: 0;
  background: black;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.random-button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 16px;
}

input {
  font-size: 16px;
}

.sign-in-button {
  background-color: black;
  border-radius: 12px;
  color: yellow;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 25%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
