.order-screen-container {
  flex-grow: 1;
  background-color: aquamarine;
  width: 50%;
  overflow-y: scroll;
}

.order-screen {
  padding: 0.5em;
}

.order-items {
  background-color: bisque;
  padding: 0.1em;
  margin: 0.2em;
  border: 1px solid white;
}

h2 {
  font-size: 0.8em;
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  width: 50%;
}

span {
  font-size: 0.8em;
}

.table-select {
  color: blue;
  width:30px;
  display: inline-block;
  padding: 0;
  margin-left: 5px;
  font-size: .5em;
  /* background-color: aquamarine; */
  text-align: center;
}
/* 

