/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

.main-screen {
  width: 100vw;
  height: 100vh;
  /* background-color: gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --one: #ad8b73;
  --two: #ceab93;
  --three: #e3caa5;
  --four: #fffbe9;
}
